* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

img,
figure {
    max-width: 100%;
}

ul {
    list-style-type: none;
}

.flex {
    display: flex;
}

body {
    height: 100vh;
}

/* HEADER */

/* funziona fino a 490px */

header {
    justify-content: space-between;
    align-items: center;
    height: 150px;
    width: 100%;
    box-shadow: 0 0 15px inset rgb(19, 19, 19);
    
}

figure {
    max-height: 60%;
    max-width: 30%;
    margin: 0 20px;
}

img {
    max-height: 90px;
    min-height: 50px;
}

header ul {
    height: 150px;
    align-items: center;
}

.nav-link {
    color: white;
    background-color: cornflowerblue;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    margin: 0 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px black;
}

/* MAIN */

main {
    background-image: url(../img/train-stations-graz_08.webp);
    background-position: center;
    background-size: cover;
    height: calc(100vh - 150px);
    filter: sepia(60%);
    flex-direction: column;
    justify-content: space-between;
}

/* TICKET */

.ticket {
    padding-top: 50px;
}

.ticket-card {
    width: 900px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 40px;
    text-align: center;
    padding: 50px 20px;
}

h1 {
    color: black;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

th,
td {
    padding: 5px 0;
}

#price {
    color: red;
}

/* MESSAGE */

main .message {
    height: 60px;
    width: 100%;
    justify-content: center;
    margin-bottom: 20px;
}

h2 {
    display: inline-block;
    line-height: 60px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 40px;
    text-align: center;
    padding: 0 20px;
}

/* MEADIUERY */

@media all and (max-width: 991px) {
    .ticket-card {
        width: 600px;
    }
}

@media all and (max-width: 680px) {
    .ticket-card {
        width: 490px;
    }
}